<!-- explain notifictions, use _roost.prompt() -->
<template name="about">
  <div class="container">
    {{> header }}
    <p class='brand-font-big'>“OUR VISION IS
      A CONNECTED
      SOCIETY, WHERE
      WE ALL CHOOSE
      A CRIME FREE LIFE.”</p>

    <p class='brand-font-small'>ONLY CONNECT IS A CREATIVE
    CRIMINAL JUSTICE CHARITY,
    ROOTED IN COMMUNITY.</p>

    <p>The MADE app is ... [Bold to give more copy]</p>
    <p>Make sure you don't miss the opportunity to get MADE, and subscribe to notifications. A notice will pop up on your phone or computer with a link to the latest challenge. <div class="roost-prompt">Click here to allow the notifications.</div></p>

    <p>Find out <a href="http://www.onlyconnect.london/">more about Only Connect</a>.</p>

    <p>Built by <a href="http://www.boldcreative.co.uk/">Bold Creative</a> and <a href="https://github.com/saramoohead">Rooftop</a>.</p>
  </div>
</template>