<template name="adminPanel">
  <div class="container">  
    <header>
      <a href="/"><img class="logo" src="/logo.png"></a><br>
    </header>
    <h2>Add New Challenge</h2>
    <form class="new-video">
      Challenge Title:
      <input type="text" name="challengeTitle" placeholder="Short challenge title here.">
      <br /><br />
      Challenge Description:
      <textarea type="text" name="challengeDescription" placeholder="Describe the challenge here."></textarea>
      <br /><br />
      Date this challenge begins:<br />
      <input type="date" name="challengeDate">
      The challenge will automatically change at midnight on whatever date you set.
      <br /><br />
      YouTube Video:
      <textarea type="text" name="challengeVideoLink" rows="6" placeholder="Paste full YouTube iframe embed code here. (Not just the http link.) It should look like this:                          <iframe width='560' height='315' src='https://www.youtube.com/embed/zcWsQdR0FKs' frameborder='0' allowfullscreen></iframe>                                                                                                                                       You can find the correctly formatted link by clicking the 'Embed' tab on YouTube. For optimal formatting, you may also want to click on 'Show more' in that Embed tab and turn off 'Show suggested videos'."></textarea>
      <input type="submit" value="Add new challenge">
    </form>

    <h2>Add New Admin</h2>
    <form class="new-admin">
      New admin user:
      <input type="text" name="userName" placeholder="Type in exact username">
      <input type="submit" value="Add new admin user">
    </form>

    <h2>Admin List</h2>
    {{#each adminList}}
      <p class="admin-list">{{username}} <button class="delete-admin">&times;</button></p>
    {{/each}}

    <h2>Challenge List</h2>
    {{#each challengeList}}
      <li>
        <p>
          <a href="/challenge/{{_id}}"> Title: {{challengeTitle}}</a><br />
          Launch date: {{challengeDate}}<br />
          Description: {{challengeDescription}}<br />
          Video link: {{{latestChallenge}}}
          <button class="delete-video">&times;</button>
        </p>
        <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
      </li>
    {{/each}}

  </div>
</template>