<template name="adminPanel">
  {{#if isAdminPanelOn}}
    <form class="new-video">
      Challenge Title:
      <input type="text" name="challengeTitle" placeholder="Short challenge title here.">
      Challenge Description:
      <textarea type="text" name="challengeDescription" placeholder="Describe the challenge here."></textarea>
      Date this challenge begins:
      <input type="date" name="challengeDate">
      YouTube Video:
      <textarea type="text" name="challengeVideoLink" placeholder="Paste full YouTube iframe embed code here"></textarea>
      <input type="submit" value="Add new challenge">
    </form>

    {{#each challengeList}}
      <li>
        <p>
          <a href="/challenge/{{_id}}"> Title: {{challengeTitle}}</a><br />
          Launch date: {{challengeDate}}<br />
          Description: {{challengeDescription}}<br />
          Video link: {{{latestChallenge}}}
          <button class="delete-button">&times;</button>
        </p>
        <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
      </li>
    {{/each}}

  {{/if}}
</template>