<template name="comments">

    <form class="new-comment">
      {{#if currentUser}}
        <input type="text" name="commentText" placeholder="What do you think of today's video?" />
      {{else}}
        <input type="text" name="commentText" placeholder="Log in to participate in the conversation" />
      {{/if}}
    </form>

  {{#if featuredCommentsExist}}
    <h3>Featured comments</h3>
    <ul>
      {{#each featuredComments}}
        <li>
          <p>
            &#9733; {{commentText}}
            <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
          </p>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <h3>The Conversation</h3>
  {{#if noCommentsExist}}
  <ul>
    <li><p class="no-comments">No comments yet. Be the first.</p></li>
  </ul>
  {{/if}}
  <ul>
    {{#each commentList}}
      <li>
        <p>
          {{#if commenterIsAdmin}}
            <img class="admin-logo" src="/logo.png">
          {{/if}}
          {{commentText}}
          {{#if isOwner}}
            <button class="delete-button comment-button">&times;</button>
          {{/if}}
          {{#if isAdmin}}
            {{#if isFeatured}}
              <button class="feature-button comment-button">&#9733;</button>
            {{else}}
              <button class="feature-button comment-button">&#9734;</button>
            {{/if}}
          {{/if}}
        </p>
        <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
      </li>
    {{/each}}
  </ul>
</template>