<template name="welcome">
  <div class="container">
    <div class="buttons">
      {{#if adminPanelAccess}}
        <div class="button admin-button animated fadeIn">Admin panel</div>
      {{else}}
        <div class="button animated fadeIn"><a href="http://www.onlyconnect.london/">Visit OC</a></div>
      {{/if}}
      <div class="button animated fadeIn">{{> loginButtons}}</div>
    </div>
    <div class="animated {{adminPanelClass}} admin-panel">
      {{> adminPanel}}
    </div>
    <a href="{{pathFor route='home'}}"><img class="inspire" src="dontlookback.png"></a>
  </div>
</template>

<template name="home">
  <div class="container animated slideInUp">
    <header>
      <img class="logo" src="logo.png"><br>

    </header>

    <div class="video">{{> challenges}}</div>

    {{> comments}}
  </div>
</template>

<template name="comments">
  <ul>
    {{#if currentUser}}
      <form class="new-comment">
        <input type="text" name="commentText" placeholder="What do you think of today's video?" />
      </form>
    {{/if}}

    {{#each commentList}}
      <li class="{{adminClass}}">
        <p>
          {{#if isAdmin}}
            <img class="admin-logo" src="logo.png">
          {{/if}}
          {{commentText}}
          {{#if isOwner}}
            <button class="delete-button">&times;</button>
          {{/if}}
        </p>
        <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
      </li>
    {{/each}}
  </ul>
</template>

<template name="adminPanel">
  {{#if isAdminPanelOn}}
    <form class="new-video">
      Challenge Title:
      <input type="text" name="challengeTitle" placeholder="Short challenge title here.">
      Challenge Description:
      <textarea type="text" name="challengeDescription" placeholder="Describe the challenge here."></textarea>
      Date this challenge begins:
      <input type="date" name="challengeDate">
      YouTube Video:
      <textarea type="text" name="challengeVideoLink" placeholder="Paste full YouTube iframe embed code here"></textarea>
      <input type="submit" value="Add new challenge">
    </form>

    {{#each challengeList}}
      <li>
        <p>
          Launch date: {{challengeDate}} Title: {{challengeTitle}}<br />
          Description: {{challengeDescription}}<br />
          Video link: {{{latestChallenge}}}
          <button class="delete-button">&times;</button>
        </p>
        <p class="user-details">Posted by: {{username}} at {{createdAtModified}}</p>
      </li>
    {{/each}}

  {{/if}}
</template>

<template name="challenges">
  <div>{{{latestChallenge}}}</div>
</template>
