<template name="home">
</template>

<template name="comments">
  <ul>
    {{#if currentUser}}
      <form class="new-comment">
        <input type="text" name="commentText" placeholder="What do you think of today's video?" />
      </form>
    {{/if}}

    {{#each commentList}}
      <li class="{{adminClass}}">
        <p>
          {{#if isAdmin}}
            <img class="admin-logo" src="logo.png">
          {{/if}}
          {{commentText}}
          {{#if isOwner}}
            <button class="delete-comment">&times;</button>
          {{/if}}
        </p>
        <p class="user-details">Posted by: {{username}} on {{createdAt}}</p>
      </li>
    {{/each}}
  </ul>
</template>

<template name="adminPanel">
  {{#if isAdminPanelOn}}
      <form class="new-video">
        <textarea type="text" name="videoLink" placeholder="Paste full YouTube iframe embed code here"></textarea>
        <input type="submit" value="Add new video">
      </form>
  {{/if}}
</template>

<template name="video">
  <div>{{{latestVideo}}}</div>
</template>
